body{
    background-color: rgb(21, 63, 63);
}
section{
    background-color: aliceblue;
    padding: 20px;
    margin-left: 32%;
    width: 33%;
}
#lista{
    margin-top:3px;
}
h1{
    margin-left: 40%;
}